/*start general*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body{
   font-family: 'Lato', sans-serif;
    overflow: hidden;

}
/*end general*/
/*start container*/
.container{
    
}
/*end container*/
/*start sidebar*/
.sidebar{
    width: 250px;
    color: #fff;
    background-color: #323232;
    height: 100vh;
    float: left;
    
}
h2{
    text-align: center;
    background-color: #222;
    margin: 0;
    padding: 20px;
}
input{
    width: 98%;
    height: 25px;
    padding: 10px 0;
    text-transform: uppercase;
}
ul{
    padding: 0;
    list-style: none;
    
}
ul li{
    padding: 10px;
    cursor: pointer;
}
ul li:hover{
    background-color: rgba(0,0,0,.1)
}
/*end sidebar*/
/*start main-content*/
.main-content{
    width: calc(100% - 250px);
    float: left;
}
/*end main-content*/
/*start top-bar*/
.top-bar{
    width: 100%;
    height: 69px;
    background-color:#323232;
    
}

.lines {
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  top: 50%;
  margin-top: -2px;
  -webkit-transition: all .1s cubic-bezier(.7,0,.3,1);
  transition: all .1s cubic-bezier(.7,0,.3,1);
    margin-left: 20px;
    cursor: pointer;
}

.lines:before,
.lines:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s cubic-bezier(.7,0,.3,1);
    transition: all .3s cubic-bezier(.7,0,.3,1);
}
.lines:before {
  top: -10px;
}
.lines:after {
  top: 10px;
}
.close{
        transition: 0.5s;
    margin-left: -250px;
}
.open{
        transition: 0.5s;
    margin-left:0px;
}
.open-width{
    width: calc(100% + 250px);
}
.close-width{
    width: 100%;
}
.outerLines {
    position: relative;
   top: 18px;
    width: 53px;
    height: 38px;
    cursor: pointer;
}
/*end top-bar*/
/*start media query*/
@media screen and (max-width: 800px){
    .close{
        transition: 0.5s;
    margin-left: 0;
}
.open{
        transition: 0.5s;
    margin-left:-250px;
}
.open-width{
       width: 100%;
}
.close-width{
     width: calc(100% + 250px);

}
    
}
/*end media query*/
/*start MapWidth*/
.contentWidth{
   overflow: hidden;
    width: calc(100% - 250px) !important;
}
.contentWidth-full{
  
    width: 100% !important;
}
.{
     height: calc(100vh - 69px) !important;
    width: 100% !important;
}
/*end MapWidth*/
/*start foursquare*/
.foursquare{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    color: #ccc;
}
/*end foursquare*/
/*start infowindow*/
h1{
    font-size: 12px;
    max-width: 150px;
    
}
/*end infowindow*/